@model StokHaneV4.Models.Taburun

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card shadow mb-4 ">
    <div class="card-header py-3"> <h6 class="m-0 font-weight-bold text-primary">Silmek istediğinize emin misiniz ?</h6></div>
    <div class="card-body">


        <div>
            
            <dl class="dl-horizontal">
                <dt>
                    Ürün Adı
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.UrunAdi)
                </dd>

                <dt>
                    Stok Kodu
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.stokKod)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Sil" class="btn btn-danger" /> 
                    <a href='@Url.Action("Index","Taburuns")' class="btn btn-primary">Listeye Dön</a>
                </div>
            }
        </div>

    </div>


</div>


