
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    

}


<div class="card shadow mb-4 ">
    <div class="card-header py-3" > <h6 class="m-0 font-weight-bold text-primary">Anasayfa</h6></div>
    <div class="card-body">
        <div class="embed-responsive-item">

            @*<img src="https://www.tarimdanhaber.com/images/resize/100/656x400/haberler/2019/05/hangi_tavuk_daha_saglikli_h12147_401bd.jpg" class="table-responsive" />*@

        </div>
    </div>
</div>



