@model StokHaneV4.Models.Tabisletme

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="card shadow mb-4 ">
    <div class="card-header py-3"> <h6 class="m-0 font-weight-bold text-primary">Detaylar</h6></div>
    <div class="card-body">


        <div>

            <dl class="dl-horizontal">
                <dt>
                    İşletme Kod
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.isletmeKod)
                </dd>

                <dt>
                    İşletme Adı
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.isletmeAdi)
                </dd>

            </dl>
        </div>

        <a href='@Url.Action("Edit","Tabisletmes",new { id = Model.idisletme })' class="btn btn-dark">Düzenle</a>
        <a href='@Url.Action("Index","Tabisletmes")' class="btn btn-primary">Listeye dön</a>



    </div>


</div>

