
@{
    ViewBag.Title = "StokView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card shadow mb-4 ">
    <div class="card-header py-3"> <h6 class="m-0 font-weight-bold text-primary">Stok düş Sayfası</h6></div>
    <div class="card-body">
        <div class="embed-responsive-item">
            <table class="table table-bordered " id="dataTable" align="center">

              
                

               


               

            </table>

        </div>
    </div>
</div>
